body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    height: auto;
    -khtml-margin-top-collapse: separate;
    -khtml-margin-bottom-collapse: separate;
    position: relative;
    width: auto;
}